{% extends 'base.html.twig' %}

{% block title %}MyEntity index{% endblock %}

{% block body %}
    <h1>MyEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cover</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Is_enabled</th>
                <th>Nb_like</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_entity in my_entities %}
            <tr>
                <td>{{ my_entity.id }}</td>
                <td>{{ my_entity.title }}</td>
                <td>{{ my_entity.file }}</td>
                <td>{{ my_entity.content }}</td>
                <td>{{ my_entity.createdAt ? my_entity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_entity.updatedAt ? my_entity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_entity.isEnabled ? 'Yes' : 'No' }}</td>
                <td>{{ my_entity.nbLike }}</td>
                <td>
                    <a href="{{ path('my_entity_show', {'id': my_entity.id}) }}">show</a>
                    <a href="{{ path('my_entity_edit', {'id': my_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_entity_new') }}">Create new</a>
{% endblock %}
