{% extends 'base.html.twig' %}

{% block title %}MyEntity{% endblock %}

{% block body %}
    <h1>MyEntity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ my_entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ my_entity.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ my_entity.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ my_entity.createdAt ? my_entity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ my_entity.updatedAt ? my_entity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_enabled</th>
                <td>{{ my_entity.isEnabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nb_like</th>
                <td>{{ my_entity.nbLike }}</td>
            </tr>
        </tbody>
    </table>
	<img height="200" src="{{ asset(my_entity.getCoverWebPath) }}" />

    <a href="{{ path('my_entity_index') }}">back to list</a>

    <a href="{{ path('my_entity_edit', {'id': my_entity.id}) }}">edit</a>

    {{ include('my_entity/_delete_form.html.twig') }}
{% endblock %}
